/node_modules
.DS_Store
*.log
.vscode/
dist/
build/
*.vsix
*.tgz
*.zip
coverage
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.cache
.parcel-cache
.next
.nuxt
.vuepress/dist
.serverless/
.fusebox/
.dynamodb/
.tern-port
.vscode-test
.yarn-integrity
*.pem
.history/
Thumbs.db
*.swp
*.swo
*~
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?