/* git 待提交数量徽章样式 */
.monaco-workbench
  .activitybar
  > .content
  :not(.monaco-menu)
  > .monaco-action-bar
  .badge
  .badge-content {
  background-image: linear-gradient(45deg, #eacd61, #ea618e);
  border-width: 0 !important;
  color: rgb(70 70 70) !important;
}

/* 选中标签栏上边框 */
@keyframes tabBorderTopMoveGradient {
  from {
    background-position: 0%;
  }
  to {
    background-position: 100%;
  }
}
.tab.tab-actions-right.sizing-fit.has-icon.tab-border-bottom.tab-border-top.active {
  --tab-border-top-color: transparent !important;
  position: relative;
}
.tab.tab-actions-right.sizing-fit.has-icon.tab-border-bottom.tab-border-top.active:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  z-index: 1;
  background-image: linear-gradient(to right, #eacd61, #ea618e, #3cec85, #61afea);
  animation: tabBorderTopMoveGradient 3s infinite alternate;
  background-size: 200%;
}

/* html标签属性 */
.mtk9 {
  background-image: linear-gradient(45deg, #eacd61, #ea618e);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  font-weight: 700;
  font-style: italic;
}

/* html标签 */
.mtk10 {
  font-weight: 700;
}

/* css属性 */
.mtk1 {
  background-image: linear-gradient(45deg, #d0d7e4, #b78aff);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
